
body{
	height: 100%;
	width:100%;
	z-index:-5;

    /*背景画像を指定*/
    background-image: url(../images/bg_larc.png);

    /* 画像を常に左右の中央、上から120pxの位置に配置 */
    background-position: center 120px;
   
	/* 画像をタイル状に繰り返し表示しない */
	background-repeat: no-repeat;

	/* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
	background-attachment: fixed;

	/* 表示するコンテナの大きさに基づいて、背景画像を調整 */
	background-size: contain;
}
#box h2 {
	margin-bottom: 0px;
}

#toplogo {
	padding: 15px 50px 5px 50px;
	position: fixed !important;
	position: absolute;
	top:0;
	left:0;
	text-align:left;

	font-size:44px;
	color:#505050;
	font-weight:bold;
	font-style:oblique;
	font-family:"Times New Roman";

	width: 10%;
	z-index:10;
}

.menu{
	margin:60px 0 0 0;
	position:sticky;
	top:0px;
	text-align:center;
	font-family: "Times New Roman";
	font-size:18px;
	padding:25px 0px 20px 0px;
	width:100%;

	background-color: #ffffff;
	overflow:auto;
	z-index:5;
}

.menu li {
/*	width:100px;*/
	padding:10px 20px 0px 20px;
	margin:0 10px 0 10px;
	display:inline-block;
}

.menu a {
	position:relative;
	color:#808080;
	text-decoration: none;
	display: block;
	transition:1s;
}

.menu a:visited{
	color:#808080;
}

.menu a::after{
	position:absolute;
	content: '';
	width:100%;
	height:1px;
	background:#606060;
	bottom:-5px;
	left:0;

	transform: scale(0,1);
	transform-origin: center top;
	transition: 1s;
}

.menu a:hover{
	color:#303030;
}

.menu a:hover::after{
	transform: scale(1,1);
	width:100%;
}


#content{
	margin:500px 0 0 0;
	padding:20px 0px 100px 0px;
    height: 100%;
    width:100%;
    overflow: auto;
    z-index:0;
	/* 背景画像が読み込まれる前に表示される背景のカラー */
	background-color: #FFFFFF;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 25px;
    background-color: #ffffff;
}


address{
	font-style:normal;
	text-align: center;
	font-size:10px;
}





