#content{
	margin:50px 0 0 0;
	padding:0px 0px 100px 0px;
    height: 100%;
    width:100%;
    overflow: auto;
    z-index:0;
	/* 背景画像が読み込まれる前に表示される背景のカラー */
	background-color: #FFFFFF;
}


footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 25px;
    background-color: #ffffff;
}


address{
	font-style:normal;
	text-align: center;
	font-size:10px;
}

/* レスポンシブ対応 PC向け */
@media only screen and (min-width:631px){
	#toplogo {
		margin:25px 60px 5px 60px;
		position: fixed !important;
		position: absolute;
		top:0;
		left:0;
		text-align:left;

		height:38px;
		width: 130px;
		z-index:10;

		background-image:url(../images/logo1.png);
		background-position:center center;
		background-repeat: no-repeat;
		background-size:100% 100%;
	}

	#topsns{
		margin:20px 50px 5px 33px;
		position: fixed !important;
		position: absolute;
		top:0;
		right:0;
		text-align:right;
		font-size:20px;
		vertical-align:center;

		width: 10%;
		z-index:8;
	}

	#topsns li{
		display:inline-block;
		padding:0 10px 0 10px;
	}

	#topsns a{
		padding:5px 5px 5px 5px;
		color:#808080;
	}

	#topsns a:visited{
		color:#808080;
		transition:1s;
	}

	#topsns a:hover{
		color:#303030;
	}

	.menu{
		margin:45px 0 0 0;
		padding:30px 0px 20px 0px;

		position: absolute;
		position: -webkit-sticky; /* Safari対応 */
		position: sticky;
		top:0px;
		left:0px;
		right:0px;

		text-align:center;
		font-family: "Times New Roman";
		font-size:18px;

		width:100%;
		box-sizing:border-box;

		background-color: #ffffff;
		overflow:auto;
		z-index:5;
	}

	.menu li {
		/*	width:100px;*/
		padding:10px 20px 0px 20px;
		margin:0 15px 0 15px;
		display:inline-block;
	}

	.menu a {
		position:relative;
		color:#808080;
		text-decoration: none;
		display: block;
		transition:0.5s;
	}

	.menu a:visited{
		color:#808080;
	}

	.menu a::after{
		position:absolute;
		content: '';
		width:100%;
		height:1px;
		background:#606060;
		bottom:-5px;
		left:0;

		transform: scale(0,1);
		transform-origin: center top;
		transition: 0.5s;
	}

	.menu a:hover{
		color:#303030;
	}

	.menu a:hover::after{
		transform: scale(1,1);
		width:100%;
	}

	.menu .focus::after{
		position:absolute;
		content: '';
		width:100%;
		height:1px;
		background:#606060;
		bottom:-5px;
		left:0;

		transform: scale(1,1);
		transform-origin: center top;
	}

	.dynamic_bg{
		width: 100vw;
		height: 100vh;
		/*背景画像を指定*/
		background-image: url(../images/bg_larc.png);
	
		/* 画像を常に左右の中央、上から120pxの位置に配置 */
		background-position: center 120px;
	
		/* 画像をタイル状に繰り返し表示しない1 */
		background-repeat: no-repeat;

		/* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
		background-attachment: fixed;

		/* 表示するコンテナの大きさに基づいて、背景画像を調整 */
		background-size: contain;

		z-index:-5;
	}

	.smart_bg{
		display: none;
	}

	#box{
	margin-bottom: 100px
	}

	.sp_menu{
		display: none;
	}

	.button{
		display: none;
	}
}

/* レスポンシブ対応 スマホ縦向き */
@media only screen and (max-width:630px){
	#toplogo {
		margin:0;
		position: fixed !important;
		position: absolute;
		top:0;
		left:0;
		text-align:left;

		height:6vh;
		width:24vw;
		z-index:10;

		background-image:url(../images/logo1.png);
		background-position:center center;
		background-repeat: no-repeat;
		background-size:100% 100%;
	}

	#topsns{
		display: none;
	}

	.menu{
		display: none;
	}
	.dynamic_bg{
		display: none;
	}


	.sp_menu{
		margin:0;
		width:100vw;
		height:7vh;

		position: fixed !important;
		position: absolute;
		top:0;
		right:0;
		vertical-align:center;
		background-color: #FFF;
		z-index:9;
	}

	.drawer-menu li{
		margin-top: 3vh;
		font-family: "EB+Garamond";
	}

	.smart_bg img{
		margin-top:3vh;
		width: 100%;
		height: auto;
	}

	#box{
		display: none;
	}

	.blur {
		-webkit-transition:ease .3s;
		transition:ease .3s; 

		transform:translateX(-30vw);

		-webkit-filter: blur(5px);
		filter: blur(5px);
	}
	
}